<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts Students</title>
  </head>
  <nav>
    <li>
      <a href="/students/new">New Student</a>
    </li>
    <li>
      <a href="/students">Students</a>
    </li>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
